.samples-ui-wrapper {
    --primary: #388ee9;
    --font-size: 12px;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    position: relative;
    overflow-x: clip;
}

.samples-ui-wrapper.light {
    --bg: #F9F9F9;
    --text: #7F7D99;
    --text-toast: #2B2E45;
    --toast-link: #3C3F57;
    --border: #D7D7D7;
    --border-badge: #DBD8E6;
    --bg-badge: #FFFFFF;
    --hover-brightness: 90%;
    --icon-color: var(--primary);
}

.samples-ui-wrapper.dark {
    --bg: #1F2236;
    --text: #DBD8E6;
    --text-toast: #C8C5D6;
    --toast-link: var(--text);
    --border: #595A75;
    --border-badge: #595A75;
    --bg-badge: #3C3F57;
    --hover-brightness: 115%;
    --icon-color: var(--text);
}

.samples-ui-wrapper > .footer, 
.samples-ui-wrapper > .header,
.samples-ui-wrapper > .welcome-toast {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    background-color: var(--bg);
}

.samples-ui-wrapper > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);
    padding: 8px;
    border-bottom: 2px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 10;
}

.samples-ui-wrapper > .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: var(--bg);
    color: var(--text);
    padding: 8px;
    border-top: 2px solid var(--border);
    transition: height 0.5s ease-out;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.samples-ui-wrapper .badge-link {
    display: flex;
    align-items: center;
    background-color: var(--bg-badge);
    color: var(--text);
    gap: 6px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--border-badge);
    text-decoration: none;
}

.samples-ui-wrapper .badge-link:hover {
    filter: brightness(var(--hover-brightness));
    transition: filter 0.1s ease-in-out;
}

.samples-ui-wrapper > .header > .ravendb-logo {
    width: 80px;
    height: 16px;
}

.samples-ui-wrapper .icon {
    width: 14px;
    height: 14px;
}

.samples-ui-wrapper > .footer > .resources {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.samples-ui-wrapper > .footer > .powered-by {
    display: flex;
    align-items: center;
}

.samples-ui-wrapper > .footer > .powered-by > .toggle-resources > .show-resources {
    display: none;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.samples-ui-wrapper > .footer > .powered-by > .toggle-resources > .hide-resources {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.samples-ui-wrapper .ravendb-link {
    color: var(--primary);
    text-decoration: none;
}

.samples-ui-wrapper .ravendb-link:hover {
    filter: brightness(var(--hover-brightness));
    transition: filter 0.1s ease-in-out;
    text-decoration: underline;
}

.samples-ui-wrapper > main {
    flex: 1;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.samples-ui-wrapper > main > slot {
    display: flex;
    flex-direction: column;
    flex: 1;
}

::slotted(*) {
    flex: 1;
    box-sizing: border-box;
}

.samples-ui-wrapper > .welcome-toast {
    position: fixed;
    right: 16px;
    bottom: 60px;
    width: 350px;
    color: var(--text-toast);
    border-radius: 8px;
    transform: translateX(120%);
    -webkit-animation: slideIn 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slideIn 0.5s forwards;
    animation-delay: 1s;
}

@keyframes slideIn {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}

.samples-ui-wrapper > .welcome-toast > .welcome-toast-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--border);
}

.samples-ui-wrapper > .welcome-toast > .welcome-toast-content > .welcome-toast-close {
    position: absolute;
    display: flex;
    top: -8px;
    right: -8px;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--bg);
    border: 1px solid var(--border);
    padding: 4px 4px 4px 5px;
    width: 8px;
}

.samples-ui-wrapper > .welcome-toast > .welcome-toast-content > .welcome-toast-title {
    font-weight: 600;
}

.samples-ui-wrapper > .welcome-toast > .welcome-toast-content > .welcome-toast-link {
    width: fit-content;
    display: flex;
    gap: 4px;
    align-items: baseline;
    text-decoration: none;
    border-bottom: 1px dotted var(--toast-link);
    color: var(--toast-link);
}

.samples-ui-wrapper > .welcome-toast > .welcome-toast-content > .welcome-toast-link:hover {
    filter: brightness(var(--hover-brightness));
    transition: filter 0.1s ease-in-out;
}

@media screen and (min-width: 770px){   
    .samples-ui-wrapper > .footer > .powered-by > .toggle-resources {
        display: none;
    }
}

@media screen and (max-width: 769px){   
    .samples-ui-wrapper > .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .samples-ui-wrapper > .footer > .powered-by {
        width: 100%;
        justify-content: space-between;
    }
    
    .samples-ui-wrapper > .footer > .powered-by > .toggle-resources {
        display: block;
    }

    .samples-ui-wrapper > .welcome-toast {
        bottom: 84px;
    }
}

@media (max-width: 370px) {
    .samples-ui-wrapper > .welcome-toast {
        width: 260px;
    }
}