@page
@model RavenDB.Samples.Verity.IdentityServer.Pages.Account.Logout.IndexModel
@{ Layout = null; }
<!DOCTYPE html>
<html><head><meta charset="utf-8" /><title>Signing out…</title></head>
<body><p>Signing out…</p></body>
</html>
